html
	head
		include ./parts/head.pug
	body
		span воаіоатіо
		.text
			span тестовий шар
		.wrapper-outer
			.wrapper
				.advantages.clearfix
					.advantages__item
						.advangages__title Максимальная площадь  покрытия
						.advangages__text Вся грязь остается внутри коврика и не попадает в обивку. Это реальная экономия на влажной уборке салона.	
					.advantages__item
						.advangages__title Абсолютная  износостойкость
						.advangages__text Коврики не протираются каблуками, не царапаются, Не выцветают и не оставляют следов на обуви.
					.advantages__item
						.advangages__title Индивидуальная 3D модель
						.advangages__text Дизайн конкретного автомобиля. Четкое прилегание к обивке кузова. Бортики не теряют своей формы в процессе эксплуатации.
			.promo
				.promo__img
					img(src="images/photo/product-for-l200.jpg")
				.promo__text Спроектированы специально для LAND CRUISER 200
		.wrapper
			.product-fit
				.product-fit__img
					img(src="images/photo/product-image.png")
				.product-fit__info
					.product-fit__title Данные коврики предназначены для следующих моделей автомобилей:
					.product-fit__list
						- var year = 2019;
						- var year1 = 2019;
						ul
							while year >= 2008
								if year <= 2011
									li TOYOTA Land Cruiser 200 #{year}*
								else
									li TOYOTA Land Cruiser 200 #{year}
								- year--
						ul
							while year1 >= 2008
								if year1 <= 2011
									li LEXUS LX570 #{year1}*
								else
									li LEXUS LX570 #{year1}
								- year1--
					.product-fit__note *Для этого автомобиля потребуется приобретение дополнительных фиксаторов. А также последующая их уставновка в обивку пола для крепления 
		.wrapper-outer
			.title Фотографии клиентов
			#masonry
				.grid-sizer
				.masonry-item
					img(src="images/photo/advangages-photo_01.jpg")
				.masonry-item
					img(src="images/photo/advangages-photo_02.jpg")
		.comments
			.wrapper
				.title Отзывы
				.row.clearfix
					.col-phablet-1-2
						.comments__avatar
							img(src="images/photo/avatar_01.png")
						.comments__autor Александр Гаврилов
						.comments__autor-description Чемпион России по Ралли
						.clearfix.hide-laptop
						.comments__title TOYOTA Land Cruiser 200 2012 / LEXUS GX460 2014
						.comments__text До покупки ковриков WT мы пользовались обычными резиновыми и текстильными ковриками. Что нас не очень устраивало, резиновые скручивались в трубочку, елозили под ногами. Текстильные были не удобны тем что грязь, песок, пыль постоянно попадала на ковролин под ноги, особенно она была заметна под педалями. С покупкой WT об этих не удобствах мы забыли. Коврики салона и багажника ложатся точно по форме салона, имеют высокие борта (вся грязь, и вода остаются на коврике). Мне очень нравится что под педалями все закрыто, уступ для левой ноги  защищен. Все чисто, надежно, и красиво. Из мелких недостатков которые мне хотелось изменить в WT. На мой взгляд это слегка шершавая поверхность самого коврика, был бы он более гладким, то отмывался бы он еще проще и быстрее. Вот такие плюсы и минусы! В плане приобретения и доставки все было выполнено на высшем уровне. Быстро, качественно и самое главное по человечески! Все объяснили, рассказали, показали, написали, позвонили! Советую всем!!!!
					.col-phablet-1-2
						.comments__avatar
							img(src="images/photo/avatar_02.png")
						.comments__autor Константин П
						.comments__autor-description Охотник и рыбак
						.clearfix.hide-laptop
						.comments__title TOYOTA Land Cruiser Prado 150 2011
						.comments__text Покупал в Прадо 2011 черные коврики в 2012 году. Коврами очень доволен! Особенно радует тот факт, что они закрывают на много большую поверхность, чем оригинальные. А мне как любителю природы это очень важно, потому что на охоте и рыбалке вся грязь попадает в салон, причем довольно много))) до покупки приходилось регулярно наводить порядок в салоне после каждой поездки, а теперь я просто мою коврики и все. Рекомендую!
		.order-label
			.order-label__title Коврики салона черные WeatherTech для  Toyota Land Cruiser 200 2016-
			a.btn(href="#") Заказать
		.footer
			.footer__copyright-title 2014-2018 ООО Автопокрытия ИНН 5403364313 ОГРН 1145476140920 
			.footer__copyright-text Копирование, публикация, распространение, цитирование и любые иные действия с информацией на данном сайте категорически запрещено!
			ul.footer__list
				li
					a(href="#") Каталог
				li
					a(href="#") Все о ковриках
				li
					a(href="#") Оплата и Доставка
				li
					a(href="#") Контакты
			.footer__icons
				a(href="#")
					img(src="images/")
				a(href="#")
					img(src="images/")
				a(href="#")
					img(src="images/")
				a(href="#")
					img(src="images/")
				a(href="#")
					img(src="images/")
			
