@import "fonts"
@import "vars"
@import "_mixins/media"


*
	box-sizing: border-box
img
	max-width: 100%
body
	position: relative
	overflow-x: hidden
	min-height: 100%
	min-width: 320px

	z-index: 0

	font-family: $Helvetica // Основной шрифт

button, input[type="button"], input[type="reset"], input[type="submit"]
	padding: 0
	outline: none
a:active,
a:focus,
a:hover
	text-decoration: none
a
	text-decoration: none
	color: inherit
ul
	list-style: none
.bars
	display: inline-block
	right: 0px
	top: 33px
	width: 25px
	+breakpoint(laptop)
		display: none
.ruble
	font: 48px/38px $ruble
.bar
	height: 1px
	background: #d1d1d1
	margin: 6px 0
.active .bar:nth-child(2)
	opacity: 0
.active .bar:nth-child(1)
	transform: rotate(45deg) translateY(5px) translateX(2px)
	transition: all 0.5s ease
.active .bar:nth-child(3)
	transform: rotate(-45deg) translateY(-8px) translateX(5px)
	transition: all 0.5s ease
.bar:nth-child(2)
	opacity: 1
	transition: all 0.5s ease
.bar
	transition: all 0.5s ease
.main-screen
	padding-bottom: 200px
	+breakpoint(tablet)
		padding-bottom: 300px
	background: url('../images/photo/main-background.png')
	background-size: cover
	+breakpoint(tablet)
		background-position: center
.product-block
	padding: 50px 0
	+breakpoint(tablet)
		padding: 150px 0
	background: #f3f5f8
.advangages
	margin-top: 100px
	+breakpoint(phablet)
		margin-top: 200px
	background: #fff
.advantage-text
	display: inline-block
	padding: 50px 20px 0 20px
	font: 200 14px/24px $Helvetica
	margin-bottom: 30px
	+breakpoint(phablet)
		padding: 50px 20px 0 20px
		font: 200 12px/18px $Helvetica
		margin-bottom: 0
	+breakpoint(tablet)
		padding: 80px 40px 0 40px
		font: 200 14px/24px $Helvetica
	+breakpoint(laptop)
		padding: 110px 60px 0 60px
		font: 200 18px/30px $Helvetica
	+breakpoint(tablet)

	+breakpoint(laptop)

	color: #46484c
	span
		position: relative
		&:before
			content: ""
			position: absolute
			top: -20px
			width: 38px
			height: 2px
			background: #46484c
			+breakpoint(tablet)
				top: -30px

.btn
	display: inline-block
	text-align: center
	cursor: pointer
	&_add-to-cart
		span
			vertical-align: middle
		.icon
			margin-right: 50px
		background: #000
		color: #fff
		padding:
			right: 85px
			left: 28px
		+breakpoint(tablet)
			padding:
				right: 95px
		height: 52px
		font: 600 14px/52px $Helvetica

.main-screen-title
	color: #fff
	.line1
		text-align: center
		display: block
		font: 400 25px/25px $pfdin
		margin-bottom: 4px
		+breakpoint(phablet)
			font: 400 38px/30px $pfdin
		+breakpoint(tablet)
			font: 400 56px/50px $pfdin
		+breakpoint(laptop)
			font: 400 72px/56px $pfdin
			margin-bottom: 40px
	.line2
		text-align: center
		display: block
		font: 400 20px/16px $pfdin
		margin-bottom: 2px
		+breakpoint(phablet)
			font: 400 30px/27px $pfdin
		+breakpoint(tablet)
			font: 400 38px/38px $pfdin
		+breakpoint(laptop)
			font: 400 38px/38px $pfdin
			letter-spacing: 1.3
			//margin-bottom: 20px
	.line3
		.signpainter
			font: 600 17px/10px SignPainter
			margin-right: 5px
			+breakpoint(phablet)
				font: 600 27px/16px SignPainter
			+breakpoint(tablet)
				font: 600 28px/16px SignPainter
		font: 400 11px/10px $pfdin
		text-align: center
		display: block
		+breakpoint(phablet)
			font: 400 18px/16px $pfdin
		+breakpoint(tablet)
			font: 400 20px/16px $pfdin
		+breakpoint(laptop)
			font: 400 22px/24px $pfdin
			margin-bottom: 40px
			letter-spacing: 1
ul.header-user-buttons
	vertical-align: middle
	display: inline-block
	li
		margin: 0
		padding: 0 15px
		display: inline-block
	li:first-child
		border-right: 1px solid #7e7e7e
.header-top
	+breakpoint(laptop)
		text-align: center
	padding: 10px 30px
	font: 400 15px/16px Tahoma
	color: #fff
	border-bottom: 1px solid #2f2f2f
	+breakpoint(laptop)
		span
			margin-right: 90px
	.phone
		position: relative
		&:before
			position: absolute
			left: -20px
			top: -2px
			content: ''
			display: inline-block
			background-image: url('../images/phone-icon-12x21.svg')
			width: 14px
			height: 21px
	ul.header-user-buttons
		float: right
		+breakpoint(laptop)
			display: none
.header-bottom
	margin-bottom: 85px
	+breakpoint(tablet)
		margin-bottom: 160px
	+breakpoint(laptop)
		margin-bottom: 260px
	padding:
		top: 25px
		left: 30px
		right: 30px
.icon
	display: inline-block
	&_search
		background-image: url('../images/search-icon-21x21.svg')
		width: 21px
		height: 21px
	&_cart
		background-image: url('../images/cart-icon-33x23.svg')
		width: 33px
		height: 23px
.logo
	display: block
	margin-bottom: 30px
	+breakpoint(laptop)
		display: inline-block
.main-menu
	display: inline-block
	+breakpoint(laptop)
		display: inline-block
		float: right
	ul.menu
		display: none
		+breakpoint(laptop)
			display: inline-block
			vertical-align: middle
		li
			display: block
			margin: 10px 0
			&:hover
				color: #ce181e
			+breakpoint(laptop)
				display: inline-block
				margin: 0 15px
			font: 400 11px/16px $Helvetica
			text-transform: uppercase
			color: #fff
		.catalog
			margin-right: 10px
			position: relative
			top: 2px
			content: ''
			display: inline-block
			background-image: url('../images/catalog-icon-17x12.svg')
			width: 17px
			height: 12px
	ul.header-user-buttons
		display: none
		+breakpoint(laptop)
			display: inline-block
/*button*/
.closed .vertical
	transition: all 0.5s ease-in-out
	transform: rotate(-90deg)

.closed .horizontal
	transition: all 0.5s ease-in-out
	transform: rotate(-90deg)
	opacity: 1

.opened
	opacity: 1

.opened .vertical
	transition: all 0.5s ease-in-out
	transform: rotate(90deg)

.opened .horizontal
	transition: all 0.5s ease-in-out
	transform: rotate(90deg)
	opacity: 0


.circle-plus
	height: 1em
	width: 1em
	font-size: 1em
	opacity: .8
	float: right


.circle-plus .circle
	position: relative
	top: 5px
	width: 1em
	height: 0em
	border-radius: 100%
	border: solid transparent
	float: right


.circle-plus .circle .horizontal
	position: absolute
	background-color: #c7ccd3
	width: 10px
	height: 2px
	left: 50%
	margin-left: -5px
	top: 50%
	margin-top: -1.5px


.circle-plus .circle .vertical
	position: absolute
	background-color: #c7ccd3
	width: 2px
	height: 10px
	left: 50%
	margin-left: -1.5px
	top: 50%
	margin-top: -5px

  /*button*/
.product
	&__pic
		margin-bottom: 30px
	&__complect
		color: #69696f
		font: 400 21px/21px $pfdin
		text-transform: uppercase
		margin-bottom: 20px
	&__name
		color: #1c1c1f
		max-width: 475px
		font: 400 36px/36px $pfdin
		margin-bottom: 35px
	&__complectation
		color: #848484
		max-width: 460px
		font: 300 18px/18px $Helvetica
		margin-bottom: 35px
	&__buy
		margin-bottom: 35px
	&__price
		display: inline-block
		vertical-align: top
		font: 400 48px/38px $pfdin
		margin-right: 60px
	&__availability
		color: #46484c
		font: 200 16px/16px $Helvetica
		position: relative
		margin-bottom: 10px
		span
			position: relative
			left: 15px
			&:before
				position: absolute
				left: -15px
				top: 4px
				content: ""
				width: 10px
				height: 10px
				border-radius: 50%
				background: green
	&__add-to-cart
		display: inline-block
		vertical-align: top
.about-item
	border-bottom: 1px solid #c7ccd3
	border-top: 1px solid #c7ccd3
	padding: 15px 0
	margin-bottom: -1px
	&__name
		font: 400 21px/21px $pfdin
	&__description
		padding-top: 20px
		font: 400 13px/13px $Helvetica
		color: #848484

.title
	font: 400 60px $pfdin
	text-transform: uppercase
	text-align: center
	margin-bottom: 45px
	+breakpoint(mobileonly)
		font: 400 30px $pfdin
		margin-bottom: 25px
.advantages
	padding-top: 140px
	padding-bottom: 30px
	counter-reset: counter
	+breakpoint(mobileonly)
		padding: 20px 0
	&__title
		font: 400 48px/1em $pfdin
		text-transform: uppercase
		margin-bottom: 30px
		+breakpoint(mobileonly)
			font: 400 26px $pfdin
	&__text
		color: #848484
		font: 400 18px/1.35em $Helvetica
		margin-bottom: 50px
		+breakpoint(mobileonly)
			font-size: 16px
	&__item
		position: relative
		padding-left: 60px
		padding-right: 60px


		+breakpoint(tablet)
			width: 50%
		&::before
			counter-increment: counter
			content: "0" counter(counter) " ."
			position: absolute
			color: #46484c
			font: 400 18px $pfdin
			top: 8px
			left: 0
		&::after
			content: ""
			display: inline-block
			border-left: 1px solid #b2bdcc
			position: absolute
			width: 1px
			height: 37px
			top: 8px
			left: 30px
		&:nth-child(odd)
			float: right
			+breakpoint(tablet)
				margin-left: 10px


		&:nth-child(even)
			float: left


.promo
	padding: 70px 0 60px 0
	background-color: #000000
	text-align: center
	margin-bottom: 90px
	&__img
		margin: 0 auto 45px auto
	&__text
		color: white
		font: 400 36px $pfdin
		margin: 0 auto
		max-width: 390px
		text-transform: uppercase
		+breakpoint(mobileonly)
			font-size: 26px

.product-fit
	text-align: center
	&__img
		margin-bottom: 25px
	&__title
		font: 400 19px/1.35em $Helvetica
		text-transform: uppercase
		margin-bottom: 35px
	&__note
		color: #848484
		font: 300 14px/1.5em $Helvetica
		margin-bottom: 70px


	&__info
		margin: 0 auto
		max-width: 660px

	&__list
		display: flex
		justify-content: space-around
		text-align: justify
		font: 400 14px $Helvetica
		color: #848484
		padding-bottom: 35px
		+breakpoint(mobileonly)
			font-size: 12px
		li
			&:not(:last-child)
				margin-bottom: 15px
.grid-sizer, .masonry-item
	 width: 33.333%
	 +breakpoint(mobileonly)
		 width: 50%
.comments
	background-color: #f3f5f8
	padding-bottom: 125px
	padding-top: 70px
	margin-bottom: 60px
	+breakpoint(mobileonly)
		margin-bottom: 25px
		padding-bottom: 25px
		padding-top: 30px
	.title
		margin-bottom: 90px
		+breakpoint(mobileonly)
			margin-bottom: 30px
	&__avatar
		width: 107px
		height: 107px
		border-radius: 107px
		float: left
		margin-right: 30px
		margin-bottom: 30px
	&__autor
		text-transform: uppercase
		font: 400 26px $pfdin
		+breakpoint(mobileonly)
			font: 400 24px $pfdin
		+breakpoint(tablet)
			font: 400 36px $pfdin


	&__autor-description
		color: #8b8b8b
		font: 400 18px $pfdin
		margin-bottom: 30px
		height: 44px
		overflow: hidden
		+breakpoint(tablet)
			margin-bottom: 10px
		+breakpoint(laptop)
			margin-bottom: 20px
			height: auto

	&__title
		text-transform: uppercase
		font: 400 21px $pfdin
		margin-bottom: 30px
	&__text
		color: #848484
		font: 300 18px/1.3em $Helvetica
		padding-bottom: 20px

.order-label
	margin: 0 auto 135px auto
	border: 5px solid black
	max-width: 1070px
	padding: 70px 20px 45px 20px
	text-align: center
	+breakpoint(mobileonly)
		padding: 30px 10px 15px 10px
		margin-bottom: 25px
	&__title
		text-transform: uppercase
		font:  400 36px $pfdin
		max-width: 520px
		margin: 0 auto 25px auto
		+breakpoint(mobileonly)
			font:  400 18px $pfdin
.footer
	background-color: #030304
	padding: 55px 0 25px 0
	text-align: center
	color: white
	&__copyright-title
		margin: 0  auto 25px auto
		max-width: 470px

	&__copyright-text
		margin: 0  auto 30px auto
		max-width: 470px
	&__list
		margin-bottom: 25px
		// display: flex
		// justify-content: center
		li
			display: inline-block
			padding: 0 20px
			color: grey
			//flex-shrink: 1
			+breakpoint(mobileonly)
				display: block
				&:not(:last-child)
					margin-bottom: 10px
			+breakpoint(tablet)
				padding: 0 30px
			&:not(:last-child)
				border-right: 1px solid grey
	&__icons
		width: 160px
		margin: 0 auto
		display: flex
		justify-content: space-between
