@import "fonts"
@import "vars"
@import "_mixins/media"


*
	box-sizing: border-box
img
	max-width: 100%
body
	position: relative
	overflow-x: hidden
	min-height: 100%
	min-width: 320px

	z-index: 0

	font-family: Helvetica // Основной шрифт

button, input[type="button"], input[type="reset"], input[type="submit"]
	padding: 0
	outline: none
a:active,
a:focus,
a:hover
	text-decoration: none
a
	text-decoration: none
	color: inherit
ul
	list-style: none
.bars
	display: inline-block
	right: 0px
	top: 33px
	width: 25px
	+breakpoint(laptop)
		display: none
.bar
	height: 3px
	background: #d1d1d1
	margin: 4px 0
.active .bar:nth-child(2)
	opacity: 0
.active .bar:nth-child(1)
	transform: rotate(45deg) translateY(5px) translateX(2px)
	transition: all 0.5s ease
.active .bar:nth-child(3)
	transform: rotate(-45deg) translateY(-8px) translateX(5px)
	transition: all 0.5s ease
.bar:nth-child(2)
	opacity: 1
	transition: all 0.5s ease
.bar
	transition: all 0.5s ease
.main-screen
	padding: 0 30px
	background: url('../images/photo/main-background.png')
	background-size: cover
.main-screen-title
	font: 400 72px/72px $pfdin
	color: #fff
ul.header-user-buttons
	vertical-align: middle
	display: inline-block
	li
		margin: 0
		padding: 0 15px
		display: inline-block
	li:first-child
		border-right: 1px solid #7e7e7e
.header-top
	+breakpoint(laptop)
		text-align: center
	padding: 10px 0
	font: 400 15px/16px Tahoma
	color: #fff
	border-bottom: 1px solid #2f2f2f
	+breakpoint(laptop)
		span
			margin-right: 90px
	.phone
		position: relative
		&:before
			position: absolute
			left: -20px
			top: 0
			content: ''
			display: inline-block
			background-image: url('../images/phone-icon-12x21.png')
			width: 14px
			height: 21px
	ul.header-user-buttons
		float: right
		+breakpoint(laptop)
			display: none
.header-bottom
	margin-bottom: 360px
	padding:
		top: 25px
.icon
	display: inline-block
	&_search
		background-image: url('../images/search-icon-21x21.png')
		width: 21px
		height: 21px
	&_cart
		background-image: url('../images/cart-icon-33x23.png')
		width: 33px
		height: 23px
.logo
	display: block
	margin-bottom: 30px
	+breakpoint(laptop)
		display: inline-block
.main-menu
	display: inline-block
	+breakpoint(laptop)
		display: inline-block
		float: right
	ul.menu
		display: none
		+breakpoint(laptop)
			display: inline-block
			vertical-align: middle
		li
			display: block
			margin: 10px 0
			&:hover
				color: red
			+breakpoint(laptop)
				display: inline-block
				margin: 0 15px
			font: 400 11px/16px Helvetica
			text-transform: uppercase
			color: #fff
		.catalog
			margin-right: 10px
			position: relative
			top: 1px
			content: ''
			display: inline-block
			background-image: url('../images/catalog-icon-17x12.png')
			width: 17px
			height: 12px
	ul.header-user-buttons
		display: none
		+breakpoint(laptop)
			display:

.title
	font: 400 60px $pfdin
	text-transform: uppercase
	text-align: center
	+breakpoint(mobileonly)
		font: 400 30px $pfdin
.comments
	background-color: #f3f5f8
	padding-bottom: 125px
	padding-top: 70px
	margin-bottom: 60px
	+breakpoint(mobileonly)
		margin-bottom: 25px
		padding-bottom: 25px
		padding-top: 30px
	.title
		margin-bottom: 90px
		+breakpoint(mobileonly)
			margin-bottom: 30px
	&__avatar
		width: 107px
		height: 107px
		border-radius: 107px
		float: left
		margin-right: 30px
	&__autor
		text-transform: uppercase
		font: 400 26px $pfdin
		height: 62px
		overflow: hidden
		+breakpoint(mobileonly)
			font: 400 24px $pfdin
		+breakpoint(tablet)
			font: 400 36px $pfdin
			height: 86px
		+breakpoint(laptop)
			height: auto
	&__autor-description
		color: #8b8b8b
		font: 400 18px $pfdin
		margin-bottom: 30px
		height: 44px
		overflow: hidden
		+breakpoint(tablet)
			margin-bottom: 10px
		+breakpoint(laptop)
			margin-bottom: 20px
			height: auto

	&__title
		text-transform: uppercase
		font: 400 21px $pfdin
		margin-bottom: 30px
	&__text
		color: #848484
		font: 400 18px $pfdin
		padding-bottom: 20px

.order-label
	margin: 0 auto 135px auto
	border: 5px solid black
	max-width: 1070px
	padding: 70px 20px 45px 20px
	text-align: center
	+breakpoint(mobileonly)
		padding: 30px 10px 15px 10px
		margin-bottom: 25px
	&__title
		text-transform: uppercase
		font:  400 36px $pfdin
		max-width: 520px
		margin: 0 auto 25px auto
		+breakpoint(mobileonly)
			font:  400 18px $pfdin
.footer
	background-color: #030304
	padding: 55px 0 25px 0
	text-align: center
	color: white
	&__copyright-title
		margin: 0  auto 25px auto
		max-width: 470px

	&__copyright-text
		margin: 0  auto 30px auto
		max-width: 470px
	&__list
		margin-bottom: 25px
		// display: flex
		// justify-content: center
		li
			display: inline-block
			padding: 0 20px
			color: grey
			//flex-shrink: 1
			+breakpoint(mobileonly)
				display: block
				&:not(:last-child)
					margin-bottom: 10px
			+breakpoint(tablet)
				padding: 0 30px
			&:not(:last-child)
				border-right: 1px solid grey
	&__icons
		width: 160px
		margin: 0 auto
		display: flex
		justify-content: space-between
